{% extends 'base.html' %}
{% load bootstrap4 %}


{% block body %}
<div class="container">
  <div class="title">
    <h2>{{ movie.title }}</h2>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="poster">
        <img src="{{ movie.poster }}" alt="movie_poster" width=100%>
      </div>
    </div>
    <div class="col-7">
      <p>등급: {{ movie.rate }}</p>
      <p>장르:
        {% for gen in movie.genre.all %}
          {{ gen.name }}
        {% endfor %}
      </p>
      <h4>유튜브 핫클립</h4>
      <div id="videoCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="100000000">
              <iframe class="d-block w-100" width="560" height="340" src="{{ first_src }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {% for video in rem_src %}
              <div class="carousel-item" data-interval="10000000">
                  <iframe class="d-block w-100" width="560" height="340" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#videoCarousel" role="button" data-slide="prev" style="height:30px; width:30px; margin-top:auto; margin-bottom:100px;">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#videoCarousel" role="button" data-slide="next" style="height:30px; width:30px; margin-top:auto; margin-bottom:100px;">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="app">
          <div class="starRev" style="margin-top:20px;" movie='{{ movie.pk }}'>
            <span id="" value=0>나의 평점</span>
            <span id="star1" class="starR" value=1></span>
            <span id="star2" class="starR" value=2></span>
            <span id="star3" class="starR" value=3></span>
            <span id="star4" class="starR" value=4></span>
            <span id="star5" class="starR" value=5></span>
          </div>
        </div>
        <div class="container">
          <span id="rateMe2"  class="empty-stars"></span>
        </div>
        
    </div>
  </div>


  <div class="movie_detail">
      <pre id="movieDescript">{{ movie.description }}</pre>
  </div>

      
  
  <div class="review_area">
    <h5>리뷰</h5>
    {% if user.is_authenticated %}
    <form action="{% url 'movies:create_review' movie.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form review_form %}
      <input class="btn btn-light" type="submit" value="작성">
    </form>
    {% endif %}
    {% for review in reviews %}
      <form action="{% url 'movies:delete_review' movie.pk review.pk %}" method="POST">
        {{ review.user }} - {{ review.content }} {{ review.score}}점
        {% if user == review.user %}
          {% csrf_token %}
          <button class="btn btn-warning" type="submit">삭제</button>
        {% endif %}
      </form>  
    {% endfor %}
  </div>
</div>


<style>
.starR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.starR.on{background-position:0 0;}
</style>

<script>
  let score = 0
  let user = 0
  let movie = 0

  let test = document.createElement('span')
  test.innerHTML = document.querySelector('#movieDescript').innerText
  document.querySelector('#movieDescript').innerText = ''
  document.querySelector('#movieDescript').append(test)

  $('.starRev span').click(function(){
    $(this).parent().children('span').removeClass('on');
    $(this).addClass('on').prevAll('span').addClass('on');
    score = $(this).attr('value')
    movie = $(this).parent().attr('movie')
    axios.get(`/movies/${movie}/score/${score}/`)
  });

</script>
{% endblock %}
