{% extends 'base.html' %}
{% load bootstrap4 %}


{% block body %}
<div class="container">
  <div class="title">
    <h2>{{ movie.title }}</h2>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="poster">
        <img src="{{ movie.poster }}" alt="movie_poster" width=100%>
      </div>
    </div>
    <div class="col-7">
        <p>등급: {{ movie.rate }}</p>
        <p>장르:
          {% for gen in movie.genre.all %}
          {{ gen.name }}
          {% endfor %}
        </p>
    </div>
  </div>
  <div class="movie_detail">
      <pre id="movieDescript">{{ movie.description }}</pre>
  </div>

      
    

  <div class="video_area">
    <div class="row">
      {% for video in videos %}
      <div class="col-4">
        <iframe width="360" height="202" src="{{ video.video_src }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      {% endfor %}
    </div>

  </div>
  <div class="review_area">
    <h5>리뷰</h5>
    {% if user.is_authenticated %}
    <form action="{% url 'movies:create_review' movie.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form review_form %}
      <input class="btn btn-light" type="submit" value="작성">
    </form>
    {% endif %}
    {% for review in reviews %}
      <form action="{% url 'movies:delete_review' movie.pk review.pk %}" method="POST">
        {{ review.user }} - {{ review.content }} {{ review.score}}점
        {% if user == review.user %}
          {% csrf_token %}
          <button class="btn btn-warning" type="submit">삭제</button>
        {% endif %}
      </form>  
    {% endfor %}
  </div>
</div>

<script>
  let test = document.createElement('span')
  test.innerHTML = document.querySelector('#movieDescript').innerText
  document.querySelector('#movieDescript').innerText = ''
  document.querySelector('#movieDescript').append(test)
</script>
{% endblock %}