{% extends 'base.html' %}
{% load bootstrap4 %}


{% block body %}
<div class="container">
  <div class="title">
    <h2 id="page_title" style="margin-top:30px; margin-bottom:20px;">{{ movie.title }}</h2>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="poster">
        <img src="{{ movie.poster }}" alt="movie_poster" width=100%>
      </div>
    </div>
    <div class="col-7">
      <p>등급: {{ movie.rate }}</p>
      <p>장르:
        {% for gen in movie.genre.all %}
          {{ gen.name }}
        {% endfor %}
      </p>
      <h4>유튜브 핫클립</h4>
      <div id="videoCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="false">
              <iframe class="d-block w-100" width="560" height="340" src="{{ first_src }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {% for video in rem_src %}
              <div class="carousel-item" data-interval="false">
                  <iframe class="d-block w-100" width="560" height="340" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#videoCarousel" role="button" data-slide="prev" style="height:30px; width:30px; margin-top:auto; margin-bottom:100px;">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#videoCarousel" role="button" data-slide="next" style="height:30px; width:30px; margin-top:auto; margin-bottom:100px;">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        {% if rated %}
        <div id="app">
          <div class="starRated" style="margin-top:20px;" movie='{{ movie.pk }}' score='{{ rated }}'>
            <span id="myScore" value=0>나의 평점</span>
            <span id="star1" class="starR" value=1></span>
            <span id="star2" class="starR" value=2></span>
            <span id="star3" class="starR" value=3></span>
            <span id="star4" class="starR" value=4></span>
            <span id="star5" class="starR" value=5></span>
          </div>
        </div>
        {% else %}
          <div class="starRev" style="margin-top:20px;" movie='{{ movie.pk }}'>
            <span id="myScore" value=0>나의 평점</span>
            <span id="star1" class="starR" value=1></span>
            <span id="star2" class="starR" value=2></span>
            <span id="star3" class="starR" value=3></span>
            <span id="star4" class="starR" value=4></span>
            <span id="star5" class="starR" value=5></span>
          </div>
        {% endif %}

    </div>
  </div>

  <div class="movie_detail mb-5">
      <pre id="movieDescript">{{ movie.description }}</pre>
  </div>
</div>


<style>
.starR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.starR.on{background-position:0 0;}
#movieDescript {
  word-break:break-all;
}
.col-7 {
  color:#dcdcdc;
}
#page_title {
    color: #dcdcdc;
    font-family: 'Jua', sans-serif;
  }
#movieDescript {
  font-family: 'Noto Serif KR', serif;
  color: white;
}
</style>

<script>
  let score = 0
  let user = 0
  let movie = 0

  let test = document.createElement('span')
  test.innerHTML = document.querySelector('#movieDescript').innerText
  document.querySelector('#movieDescript').innerText = ''
  document.querySelector('#movieDescript').append(test)


  let rated_score = Number($('.starRated').attr('score'))
  window.addEventListener('load', function() {
    $(`#star${rated_score}`).addClass('on').prevAll('span').addClass('on');
  })


  $('.starRev span').click(function(){
    $(this).parent().children('span').removeClass('on');
    $(this).addClass('on').prevAll('span').addClass('on');
    score = $(this).attr('value')
    movie = $(this).parent().attr('movie')
    axios.get(`/movies/${movie}/score/${score}/`)
  });

  $('.starRated span').click(function(){
    $(this).parent().children('span').removeClass('on');
    $(this).addClass('on').prevAll('span').addClass('on');
    score = $(this).attr('value')
    movie = $(this).parent().attr('movie')
    axios.get(`/movies/${movie}/score/${score}/`)
  });


</script>
{% endblock %}
