{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
<div class="mt-3">
  {% if user.is_authenticated %}
    {% if user != person %}
      {% if user in person.followers.all %}
        <a href="{% url 'accounts:follow' person.pk %}">unfollow</a>
      {% else %}
        <a href="{% url 'accounts:follow' person.pk %}">follow</a>
      {% endif %}
    {% endif %}
  {% endif %}

  <h3>내가 좋아하는 영화</h3>
  {% for movie in like_movies %}
    <a href="{% url 'movies:detail' movie.pk %}">{{ movie }}</a>
    <br>
    {% for review in movie.review_set.all %}
      <p>{{ movie }} {{ review.score }}</p>
    {% endfor %}
  {% endfor %}
</div>


{% endblock %}